* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: auto;
}

#bio {
  /* border-top: 2px #6663 solid; */
  /* border-bottom: 2px #6663 solid; */
  border-top: 2px rgba(0, 128, 128, 0.274) solid;
  border-bottom: 2px rgba(0, 128, 128, 0.274) solid;
  max-width: 750px;
  margin: 2em auto;
  padding: 2em;
}

#bio p {
  margin-bottom: 1em;
  font-family: Didot, serif;
  font-weight: 400;
  font-size: 20px;
}

#bio a {
  font-size: 175%;
}

h1 {
  font-family: Didot, serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  /* text-decoration: underline; */
  color: rgb(1, 87, 87);
  margin: 1.5em;
}
h3 {
  color: rgb(1, 87, 87);
  /* margin-top: 1em; */
  margin-bottom: 1em;
}
li {
  display: inline-block;
  padding: 5px;
}

#info {
  margin-bottom: 2em;
}

#info a {
  font-family: Didot, serif;
  font-weight: 400;
  text-decoration: none;
}

article {
  max-width: 750px;
  margin: auto;
  padding: 1em;
  text-align: left;
  font-family: Didot, serif;
  font-weight: 400;
  font-size: 18px;
}

a:link{
  color: teal;
}
a:visited{
  color: teal;
}
a:hover{
  color: rgba(0, 128, 128, 0.671);
}
a:focus{
  color: teal;
}
a:active{
  color: teal;
}
