* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* GENERAL CSS */
body {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

/* HEADER FORMATTING */
#bio {
  /* border-top: 2px #6663 solid; */
  /* border-bottom: 2px #6663 solid; */
  border-top: 2px rgba(0, 128, 128, 0.952) solid;
  border-bottom: 2px rgba(0, 128, 128, 0.274) solid;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em auto;
  padding: 2em;
}
#bio p {
  margin-bottom: 1em;
  font-family: 'Open Sans', sans-serif;
  /*font-family: Didot, serif;*/
  font-weight: 400;
  font-size: 20px;
}
#bio i {
  font-size: 32pt;
  text-decoration:none;
  margin-left: 0.75em;
  margin-right: 0.75em;
}

/* BODY FORMATTING */
h1 {
  display: none;
}
h2 {
  color: rgb(1, 87, 87);
  /* margin-top: 1em; */
  margin-bottom: 1em;
}
h4 {
  color: rgb(1, 87, 87);
  /* margin-top: 1em; */
  margin-bottom: 1em;
}
@media (max-width: 700px) {
  canvas {display: none !important;}
  h1 {
    display: block;
    font-family: 'Open Sans', sans-serif;
    /*font-family: Didot, serif;*/
    font-weight: 400;
    font-size: 48px;
    line-height: 52px;
    color: rgb(1, 87, 87);
    margin: 1.5em;
  }
}
li {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  padding: 5px;
}
#info {
  margin-bottom: 2em;
}
#info a {
  font-family: 'Open Sans', sans-serif;
  /*font-family: Didot, serif;*/
  font-weight: 400;
  text-decoration: none;
}
#info p {
  margin: 1em;
}
#info img {
  max-width: 100%;
}
.title {
  font-size: 1.5em;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 1em;
  margin-bottom: 1em;
}
canvas {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding: 0;
}
article {
  margin: auto;
  padding: 1em;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  /*font-family: Didot, serif;*/
  font-weight: 400;
  font-size: 18px;
}

div.gallery {
  margin: 5px;
  float: left;
  width: auto;
}
div.gallery img {
  height: 100%;
  padding: 0;
  float: left;
}
div.desc {
  padding-bottom: 15px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

/* Style the Image Used to Trigger the Modal */
.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.myImg:hover {opacity: 0.7;}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  max-height: 80%;
  max-width: 90%;
}
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
  font-family: 'Open Sans', sans-serif;
}
@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* LINKS */
a:link{
  color: teal;
}
a:visited{
  color: teal;
}
a:hover{
  color: rgba(0, 128, 128, 0.671);
}
a:focus{
  color: teal;
}
a:active{
  color: teal;
}

