.App {
  text-align: center;
}

.page{
  margin-left: .25em;
  margin-right: .25em;
}

/* GENERAL CSS */
body {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

/* HEADER FORMATTING */
#bio {
  /* border-top: 2px #6663 solid; */
  /* border-bottom: 2px #6663 solid; */
  font-family: 'Roboto Mono', monospace;
  border-top: 2px rgba(0, 128, 128, 0.274) solid;
  border-bottom: 2px rgba(0, 128, 128, 0.274) solid;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em auto;
  padding: 1em;
}
#bio p {
  margin-bottom: 1em;
  /*font-family: Didot, serif;*/
  font-weight: 400;
  font-size: 1.25rem;
}
#bio i {
  font-size: 24pt;
  text-decoration:none;
  margin-left: 0.75em;
  margin-right: 0.75em;
}

/* BODY FORMATTING */
h1 {
  display: block;
  font-family: 'Roboto Mono', monospace;
    /*font-family: Didot, serif;*/
    font-weight: 400;
    font-size: 56px;
    /*line-height: 52px;*/
    color: rgb(1, 87, 87);
    margin: 0.5em;
}
h2 {
  font-family: 'Roboto Mono', monospace;
  color: rgb(1, 87, 87);
  /* margin-top: 1em; */
  margin-bottom: 1em;
}
h4 {
  font-family: 'Roboto Mono', monospace;
  color: rgb(1, 87, 87);
  /* margin-top: 1em; */
  margin-bottom: 1em;
}

li {
  font-family: 'Roboto Mono', monospace;
  display: inline-block;
  padding: 5px;
}
#info {
  font-family: 'Roboto Mono', monospace;
  text-align: left;
  margin-bottom: 2em;
}
#info a {
  font-family: 'Roboto Mono', monospace;
  /*font-family: Didot, serif;*/
  font-weight: 400;
  text-decoration: none;
}
#info p {
  margin: 1em;
}
#info img {
  max-width: 100%;
}
.title {
  font-size: 1.5em;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 1em;
  margin-bottom: 1em;
}
canvas {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding: 0;
}
article {
  margin: auto;
  padding: 1em;
  text-align: left;
  font-family: 'Roboto Mono', monospace;
  /*font-family: Didot, serif;*/
  font-weight: 400;
  font-size: 18px;
}
.material-icons {
  margin: .5em;
}

/* LINKS */
a:link{
  color: teal;
}
a:visited{
  color: teal;
}
a:hover{
  color: rgba(0, 128, 128, 0.671);
}
a:focus{
  color: teal;
}
a:active{
  color: teal;
}
